.edit-data {
    h1 {
        font-size: 24px;
    }

}

label,.form-label,.form-control {
    margin: 0;
    width: 100%;
}

// input[type=text], input[type=email], textarea {
//     padding: 4px;
// }